/*▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉|ALL HTML FILES|▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉*/

body {
    background-image: url("../images/whiteWaves.png");
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-weight: bold;
}
.▓navContainer {
    padding: 0;
}

.▓navHeader {
    background-color:#ffffff;
    margin-bottom: 2.7%
}

.▓myName {
    background-color:#49aaa5;
    padding: 2% 3% 2% 3%;
}

.nav-link {
    color: #666666 !important;
    padding: .2% 2.5% .2% 2.5%;
    margin: 0 15px;
}

.▓portLink {
    border-left: solid #dddddd;
    border-right: solid #dddddd;
    border-width: 1px;
}

.▓hamburger {
    background-color: #49aaa5;
}

.▓mainContentBox {
    background-color:#ffffff;
    padding: 0 3% 1% 3%;
    border: solid #dddddd;
    border-width: 1px;
    margin-bottom: 10%;
}

.▓mainContentHeader {
    padding-top: 3%;
}

.▓mainContent {
    padding-top: 3%;
}

.▓headerBar {
    border-bottom: solid #dddddd;
    padding: 1% 0 2% 0;
}

.▓topic {
    color:#49aaa5;
}

.▓footing {
    background-color: #666666;
    border-top: solid #4aaaa5;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    border-width: 5px;
}

.▓footerText {
    text-align: center;
    margin-bottom: 0;
    padding: 2.8% 0 .2% 0;
    font-weight: lighter;
    font-size: small;
}

/*▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉|INDEX.HTML|▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉*/

.▓face {
    height: 290px;
    width: 220px;
}

.▓paragraph {
    padding-left: 1%;
    color: #777777;
}

.▓paragraph2 {
    padding: 2.2% 1.6% 0 1.8%;
    color: #777777;
}


/*▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉PORTFOLIO.HTML▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉*/

.▓image {
    width: 300px;
    height: 250px;
}

.▓imageContainers {
    padding: 0 0 0 0;
    margin: 0 4% 0 0;
}

.▓imageText {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 6% 0 6% 0;
    font-weight: lighter
}

.▓overlay {
    padding: 50% 0 0 0;
}

/*▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉CONTACT.HTML▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉*/

.▓button {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 1% 2.5% 0.5% 2.5%;
}

form {
    color: #777777;
}
